*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.navbar{
    background-color: rgb(0, 0, 0) !important;
    margin-top: -20px;
}

.navbar-nav{
    margin-left: 100px !important;
}

.nav-item a{
    color: aliceblue !important;
    font-size: 13px;
    font-weight: 700;
}

.top{
    margin-top: 50px;
}

.top_text{
    color: aliceblue;
    text-align: center;
}

.top h1{
    font-size: 40px;
    font-weight: 850;
    margin-bottom: 40px;
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 60px;
}

.top p{
    color: aliceblue;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 450;
}

.gold{
    color: #bba14f;
    font-weight: 850;
}

.top .btn{
    margin-top: 40px;
    border: none;
    font-size: 12px;
    color: aliceblue;
    width: 170px;
    height: 60px;
    border-radius: 75px;
    box-shadow: 1px 1px 3px 1px #a08736;
}

.banner_brands{
    margin-top: 70px;
    background: url('/enterprise/images/bg\ enterprise\ copy4.jpg');
}

.banner{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.banner_brands{
    background-color: rgb(14, 13, 13);
    height: 250px;
    padding-top: 30px;
    border: none;
}

.banner p{
    color: aliceblue;
}

.brands {
    padding-left: 300px;
    height: 100px;
}

/* .brands img{
    padding-bottom: 20px;
    padding-top: 20px;
} */

.visa{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: -2px;
    right: 5px;
}

.dropbox{
    width: 30px;
    height: 25px;
    position: relative;
    top: 18px;
    right: -85px;
}

.ebay{
    width: 180px;
    height: 180px;
    position: relative;
    right: 15px;
    bottom: 50px;
}

.loreal{
    width: 110px;
    height: 110px;
    position: relative;
    bottom: 32px;
    right: 20px;

}

.lyft{
    width: 70px;
    height: 40px;
    position: relative;
    left: -20px;
    bottom: -9px;
}

.card_zone{
    margin-top: 70px;
    padding-left: 220px;
}

.card{
    height: 480px;
    padding-top: 30px;
    border-radius: 20px;
    background-color: black;
    border: none;
    box-shadow: 1px 1px 3px 3px #4b401e;
}

.one{
    position: relative;
    right: 25px;
}

.three{
    position: relative;
    left: 25px;
}

.card h5{
    padding-left: 40px;
    color: #bba14f;
    font-weight: 650;
}

.card img{
    padding-left: 20px;
    margin-top: 20px;
    width: 220px;
    height: 200px;
}

.card p{
    margin-top: 5px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-weight: 350;
    text-align: left;
    color: aliceblue;
}

.card_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_card{
    margin-top: 40px;
    border: none;
    font-size: 12px;
    background-color: black;
    color: aliceblue;
    width: 170px;
    height: 60px;
    border-radius: 75px;
    box-shadow: 1px 1px 3px 1px #a08736;
    position: relative;
    right: 120px;
}

.footer{
    margin-top: 70px;
    padding-left: 170px;
}

.footer #google{
    position: relative;
    bottom: -8px;
    right: 65px;
}

.footer #appstore{
    position: relative;
    right: 20px;
}

.footer h1{
    font-size: 30px;
    font-weight: 850;
    margin-bottom: 40px;
    color: aliceblue;
    letter-spacing: 1.2px;
    line-height: 45px;
}

.footer p{
    color: aliceblue;
    font-size: 13px;
    font-weight: 300;
    margin-top: -20px;
    margin-bottom: 40px;
}

#select-lang{
    width: 280px;
    height: 40px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(198, 206, 211);
    background-color: black;
    border: none;
    box-shadow: 1px 1px 3px 0.5px #a08736;
    margin-bottom: 20px;
}

i{
    color: aliceblue;
    margin: 10px;
}

footer ul{
    list-style: none;
    position: relative;
    left: -40px;
}

footer h2{
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
}

footer li{
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgb(170, 178, 185);
}

.support, .add-ons{
    margin-top: 60px;
}

.developers{
    margin-top: 100px;
}

.second{
    margin-left: 70px;
}
